.product__container {
  grid-template-columns: repeat(4, 1fr);
}

.product__item {
  border: 1px solid var(--border-color);
  border-radius: 1.5rem;
  transition: all .2s var(--transition);
}

.product__banner,
.product__images {
  position: relative;
}

.product__images {
  display: block;
  overflow: hidden;
}

.product__img {
    vertical-align: middle;
    transition: all 1.5s var(--transition);
}

.product__img.hover {
  position: absolute;
  left: 0;
  top: 0;
}

.product__actions {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  column-gap: 0.5rem;
}

.action__btn {
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background: var(--first-color-alt);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  font-size: var(--small-font-size);
  position: relative;
}

.action__btn::before,
.action__btn::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.action__btn::before {
  content: "";
  top: -2px;
  border: 0.5rem solid transparent;
  border-top-color: var(--first-color);
}

.action__btn::after {
  content: attr(aria-label);
  bottom: 100%;
  background-color: var(--first-color);
  color: var(--body-color);
  font-size: var(--tiny-font-size);
  font-weight: 500;
  white-space: nowrap;
  padding-inline: 0.625rem;
  border-radius: 0.25rem;
}

.product__banner {
  padding: 0.625rem 0.75rem 0.75rem;
}

.product__img.hover,
.product__actions,
.action__btn::before,
.action__btn::after,
.product__item:hover .product__img.default {
  opacity: 0;
}

.product__item:hover .product__img.hover,
.product__item:hover .product__actions,
.action__btn:hover::before,
.action__btn:hover::after {
    opacity: 1;
}

.product__item:hover {
    box-shadow: 0 0 10px hsl(0,0%,0%,0.1);
}

.product__item .product__img {
    transform: scale(1.1);
}

.product__badge {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: 0.25rem 0.625rem;
  border-radius: 2.5rem;
  font-size: var(--tiny-font-size);
}

.product__badge:nth-child(odd) {
  background: hsl(24, 100%, 73%);
}

.product__badge:nth-child(even) {
  background: hsl(341, 100%, 73%);
}

.product__content {
  padding: 0 1.25rem 1.125rem;
  position: relative;
}

.product__category {
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.product__title {
  font-size: var(--normal-font-size);
  margin-block: 0.75rem 0.5rem;
}

.product__rating {
  color: hsl(41, 100%, 50%);
  font-size: var(--smaller-font-size);
  margin-bottom: 0.75rem;
}

.cart__btn {
  position: absolute;
  bottom: 1.6rem;
  right: 1.25rem;
}


.new__price {
    color: var(--first-color);
    font-weight: 600;
}

.old__price {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-decoration: line-through;
}